@tailwind base;
@tailwind components;
@tailwind utilities;

th,td{
     border-bottom: 1px solid #ececec;
     padding: 8px;
      text-align: left;
}

@layer components {
      .sidebar-enter {
        @apply transform translate-x-full;
      }
      .sidebar-enter-active {
        @apply transform translate-x-0 transition-transform duration-300;
      }
      .sidebar-exit {
        @apply transform translate-x-0;
      }
      .sidebar-exit-active {
        @apply transform translate-x-full transition-transform duration-300;
      }
    }